<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0037)http://elemisdesign.com/demos/resume/ -->
<html xmlns="http://www.w3.org/1999/xhtml" class="cufon-active cufon-ready"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    @{
    Layout = null;
}
<title>Resume</title>
<link type="text/css" rel="stylesheet" href="~/Content/Resume_files/blue.css">
<link type="text/css" rel="stylesheet" href="~/Content/Resume_files/print.css" media="print">
<!--[if IE 7]>
<link href="css/ie7.css" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if IE 6]>
<link href="css/ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
<script type="text/javascript" src="~/Content/Resume_files/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="~/Content/Resume_files/jquery.tipsy.js"></script>
<script type="text/javascript" src="~/Content/Resume_files/cufon.yui.js"></script>
    <style type="text/css">
        /*cufon {
            text-indent: 0!important;
        }*/
    /*display: inline-block !important;
    font-size: 1px !important;
    line-height: 1px !important;
    position: relative !important;
    vertical-align: middle !important;
     }  
cufon canvas {
    position: relative !important;
}*/
/*cufon cufontext {
    display: inline-block !important;
    height: 0 !important;
    overflow: hidden !important;
    text-indent: -10000in !important;
    width: 0 !important;
}*/
 </style>
<script type="text/javascript" src="~/Content/Resume_files/scrollTo.js"></script>
<script type="text/javascript" src="~/Content/Resume_files/myriad.js"></script>
<script type="text/javascript" src="~/Content/Resume_files/jquery.colorbox.js"></script>
<script type="text/javascript" src="~/Content/Resume_files/custom.js"></script>
<script type="text/javascript">
    Cufon.replace('h1,h2');
</script>
</head>

<body><div id="cboxOverlay" style="display: none;"></div><div id="colorbox" style="padding-bottom: 50px; padding-right: 50px; display: none;"><div id="cboxWrapper"><div><div id="cboxTopLeft" style="float: left;"></div><div id="cboxTopCenter" style="float: left;"></div><div id="cboxTopRight" style="float: left;"></div></div><div><div id="cboxMiddleLeft" style="float: left;"></div><div id="cboxContent" style="float: left;"><div id="cboxLoadedContent" class="" style="width: 0px; height: 0px;"></div><div id="cboxLoadingOverlay" class=""></div><div id="cboxLoadingGraphic" class=""></div><div id="cboxTitle" class=""></div><div id="cboxCurrent" class=""></div><div id="cboxSlideshow" class=""></div><div id="cboxNext" class=""></div><div id="cboxPrevious" class=""></div><div id="cboxClose" class=""></div></div><div id="cboxMiddleRight" style="float: left;"></div></div><div><div id="cboxBottomLeft" style="float: left;"></div><div id="cboxBottomCenter" style="float: left;"></div><div id="cboxBottomRight" style="float: left;"></div></div></div><div style="position:absolute; top:0; left:0; width:9999px; height:0;"></div></div>
<!-- Begin Wrapper -->
<div id="wrapper">
  <div class="wrapper-top"></div>
  <div class="wrapper-mid">
    <!-- Begin Paper -->
    <div id="paper">
      <div class="paper-top"></div>
      <div id="paper-mid">
        <div class="entry">
          <!-- Begin Image -->
          <img class="portrait" src="~/Content/Resume_files/image.jpg" alt="John Smith">
          <!-- End Image -->
          <!-- Begin Personal Information -->
          <div class="self">
            <h1 class="name"><cufon class="cufon cufon-canvas" alt="John " style="width: 94px; height: 42px;"><cufontext>John </cufontext></cufon><cufon class="cufon cufon-canvas" alt="Smith " style="width: 112px; height: 42px;"><cufontext>Smith </cufontext></cufon></br><span style="margin-top:10px;">Interactive Designer</span></h1>
            <ul>
              <li class="ad">111 Lorem Street, 34785, Ipsum City</li>
              <li class="mail">johnsmith@business.com</li>
              <li class="tel">+11 444 555 22 33</li>
              <li class="web">www.businessweb.com</li>
            </ul>
          </div>
          <!-- End Personal Information -->
          <!-- Begin Social -->
          <div class="social">
            <ul>
              <li><a class="north" href="http://elemisdesign.com/demos/resume/#" original-title="Download .pdf"><img src="~/Content/Resume_files/icn-save.jpg" alt="Download the pdf version"></a></li>
              <li><a class="north" href="javascript:window.print()" original-title="Print"><img src="~/Content/Resume_files/icn-print.jpg" alt=""></a></li>
              <li><a class="north cboxElement" id="contact" href="http://elemisdesign.com/demos/resume/contact/index.html" original-title="Contact Me"><img src="~/Content/Resume_files/icn-contact.jpg" alt=""></a></li>
              <li><a class="north" href="http://elemisdesign.com/demos/resume/#" original-title="Follow me on Twitter"><img src="~/Content/Resume_files/icn-twitter.jpg" alt=""></a></li>
              <li><a class="north" href="http://elemisdesign.com/demos/resume/#" original-title="My Facebook Profile"><img src="~/Content/Resume_files/icn-facebook.jpg" alt=""></a></li>
            </ul>
          </div>
          <!-- End Social -->
        </div>
        <!-- Begin 1st Row -->
        <div class="entry">
          <h2><cufon class="cufon cufon-canvas" alt="OBJECTIVE" style="width: 99px; height: 22px;"><canvas width="109" height="22" style="width: 109px; height: 22px; top: 0px; left: -1px;"></canvas><cufontext>OBJECTIVE</cufontext></cufon></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dignissim viverra nibh sed varius. Proin bibendum nunc in sem ultrices posuere. Aliquam ut aliquam lacus.</p>
        </div>
        <!-- End 1st Row -->
        <!-- Begin 2nd Row -->
        <div class="entry">
          <h2><cufon class="cufon cufon-canvas" alt="EDUCATION" style="width: 110px; height: 22px;"><canvas width="116" height="22" style="width: 116px; height: 22px; top: 0px; left: -1px;"></canvas><cufontext>EDUCATION</cufontext></cufon></h2>
          <div class="content">
            <h3>Sep 2005 - Feb 2007</h3>
            <p>Academy of Art University, London <br>
              <em>Master in Communication Design</em></p>
          </div>
          <div class="content">
            <h3>Sep 2001 - Jun 2005</h3>
            <p>University of Art &amp; Design, New York <br>
              <em>Bachelor of Science in Graphic Design</em></p>
          </div>
        </div>
        <!-- End 2nd Row -->
        <!-- Begin 3rd Row -->
        <div class="entry">
          <h2><cufon class="cufon cufon-canvas" alt="EXPERIENCE" style="width: 112px; height: 22px;"><cufontext>EXPERIENCE</cufontext></cufon></h2>
          <div class="content">
            <h3>May 2009 - Feb 2010</h3>
            <p>Agency Creative, London <br>
              <em>Senior Web Designer</em></p>
            <ul class="info">
              <li>Vestibulum eu ante massa, sed rhoncus velit.</li>
              <li>Pellentesque at lectus in <a href="http://elemisdesign.com/demos/resume/#">libero dapibus</a> cursus. Sed arcu ipsum, varius at ultricies acuro, tincidunt iaculis diam.</li>
            </ul>
          </div>
          <div class="content">
            <h3>Jun 2007 - May 2009</h3>
            <p>Junior Web Designer <br>
              <em>Bachelor of Science in Graphic Design</em></p>
            <ul class="info">
              <li>Sed fermentum sollicitudin interdum. Etiam imperdiet sapien in dolor rhoncus a semper tortor posuere. </li>
              <li>Pellentesque at lectus in libero dapibus cursus. Sed arcu ipsum, varius at ultricies acuro, tincidunt iaculis diam.</li>
            </ul>
          </div>
        </div>
        <!-- End 3rd Row -->
        <!-- Begin 4th Row -->
        <div class="entry">
          <h2><cufon class="cufon cufon-canvas" alt="SKILLS" style="width: 60px; height: 22px;"><cufontext>SKILLS</cufontext></cufon></h2>
          <div class="content">
            <h3>Software Knowledge</h3>
            <ul class="skills">
              <li>Photoshop</li>
              <li>Illustrator</li>
              <li>InDesign</li>
              <li>Flash</li>
              <li>Fireworks</li>
              <li>Dreamweaver</li>
              <li>After Effects</li>
              <li>Cinema 4D</li>
              <li>Maya</li>
            </ul>
          </div>
          <div class="content">
            <h3>Languages</h3>
            <ul class="skills">
              <li>CSS/XHTML</li>
              <li>PHP</li>
              <li>JavaScript</li>
              <li>Ruby on Rails</li>
              <li>ActionScript</li>
              <li>C++</li>
            </ul>
          </div>
        </div>
        <!-- End 4th Row -->
         <!-- Begin 5th Row -->
        <div class="entry">
        <h2><cufon class="cufon cufon-canvas" alt="WORKS" style="width: 69px; height: 22px;"><cufontext>WORKS</cufontext></cufon></h2>
        	<ul class="works">
        		<li><a href="http://elemisdesign.com/demos/resume/images/1.jpg" rel="gallery" title="Lorem ipsum dolor sit amet." class="cboxElement"><img src="~/Content/Resume_files/image.jpg" alt=""></a></li>
        		<li><a href="http://elemisdesign.com/demos/resume/images/2.jpg" rel="gallery" title="Lorem ipsum dolor sit amet." class="cboxElement"><img src="~/Content/Resume_files/image.jpg" alt=""></a></li>
        		<li><a href="http://elemisdesign.com/demos/resume/images/3.jpg" rel="gallery" title="Lorem ipsum dolor sit amet." class="cboxElement"><img src="~/Content/Resume_files/image.jpg" alt=""></a></li>
        		<li><a href="http://elemisdesign.com/demos/resume/images/1.jpg" rel="gallery" title="Lorem ipsum dolor sit amet." class="cboxElement"><img src="~/Content/Resume_files/image.jpg" alt=""></a></li>
        		<li><a href="http://elemisdesign.com/demos/resume/images/2.jpg" rel="gallery" title="Lorem ipsum dolor sit amet." class="cboxElement"><img src="~/Content/Resume_files/image.jpg" alt=""></a></li>
        		<li><a href="http://elemisdesign.com/demos/resume/images/3.jpg" rel="gallery" title="Lorem ipsum dolor sit amet." class="cboxElement"><img src="~/Content/Resume_files/image.jpg" alt=""></a></li>
        		<li><a href="http://elemisdesign.com/demos/resume/images/1.jpg" rel="gallery" title="Lorem ipsum dolor sit amet." class="cboxElement"><img src="~/Content/Resume_files/image.jpg" alt=""></a></li>
        		<li><a href="http://elemisdesign.com/demos/resume/images/1.jpg" rel="gallery" title="Lorem ipsum dolor sit amet." class="cboxElement"><img src="~/Content/Resume_files/image.jpg" alt=""></a></li>
        	</ul>
        </div>
        <!-- Begin 5th Row -->
      </div>
      <div class="clear"></div>
      <div class="paper-bottom"></div>
    </div>
    <!-- End Paper -->
  </div>
  <div class="wrapper-bottom"></div>
</div>
<div id="message" style="display: none;"><a href="http://elemisdesign.com/demos/resume/#top" id="top-link">Go to Top</a></div>
<!-- End Wrapper -->


</body></html>