@model AERP.ViewModel.GeneralMapTypeOfAccountViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .mfp-content {
        width: 50%;
    }
</style>
<script src="@Url.Content("~/Scripts/AERP_Scripts/Account/GeneralMapTypeOfAccount.js")" type="text/javascript"></script>
<script src="~/Content/Theme/vendors/bower_components/typeahead.js/dist/typeahead.bundle.js"></script>

<div id="ListViewModel" class="container">

</div>
<script type="text/javascript">
    $(document).ready(function () {
        //GeneralMapTypeOfAccount.Initialize();
        GeneralMapTypeOfAccount.LoadList();

    });
</script>




