@model AERP.ViewModel.AccountBalancesheetTypeMasterViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .mfp-content {
        width: 60%;
    }
</style>
<script src="@Url.Content("~/Scripts/AERP_Scripts/Account/AccountBalancesheetTypeMaster.js")" type="text/javascript"></script>
<div id="ListViewModel" class="container">
</div>
<script type="text/javascript">
    $(document).ready(function () {
        //AccountBalancesheetType.LoadList();
        AccountBalancesheetTypeMaster.LoadList();
    });
</script>

