@model AERP.ViewModel.GeneralItemMasterViewModel
<style>
    .mfp-content {
        width: 20% !important;
    }
</style>
<div id="custom-content">
    <div class="card">
        <div class="card-body">
            <div id="displayErrorMessage1" role="alert" class="alert">
                <p id="messageContent">Please add Vendor</p>
            </div>


        </div>
    </div>
</div>






