@model AERP.ViewModel.GeneralTaskModelViewModel
<form id="FormDeleteGeneralTaskModel" method="post">
    @Html.HiddenFor(model => model.ID)
    <div class="widget-block">
        <div class="widget-head">
            <h5> Delete General Task Model </h5>
        </div>
        <div class="widget-content">
            <div class="widget-box" style="width: 230px;height:144px">

                <div class="control-group" style="padding: 10px;">
                    &nbsp;&nbsp;<img src="~/Content/images/warning.png" />&nbsp;&nbsp;Do you want to delete?
                    <div class="controls">
                    </div>
                </div>
                <div class="control-group" style="padding: 10px; text-align: right; margin-bottom: 0px; border: 1px solid #e5e5e5;">
                    <input type="button" id="DeleteGeneralTaskModelRecord" value="@Resources.ButtonAction_Delete" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
</form>
<div id="update-message" class="error invisible"></div>
<script type="text/javascript">
    $(document).ready(function () {
        GeneralTaskModel.Initialize();
    });
</script>

