@model AERP.ViewModel.VendorMasterViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Scripts/AERP_Scripts/Inventory/VendorMaster.js")" type="text/javascript"></script>

<div id="ListViewModel" class="container">
    @Html.HiddenFor(m => m.errorMessage)

     
</div>
<script type="text/javascript">
    $(document).ready(function () {
        //VendorMaster.Initialize();
        if ($('input[name=errorMessage]').val() != "NoMessage") {
            var splitedMsg = ($('input[name=errorMessage]').val()).split(',');
            notify(splitedMsg[0], splitedMsg[1]);
            $('input[name=errorMessage]').val("NoMessage");
        }
        VendorMaster.LoadList();

    });
</script>




