@model AERP.ViewModel.GeneralShipperMasterViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .mfp-content {
        width: 50%;
    }
</style>
<script src="@Url.Content("~/Scripts/AERP_Scripts/Sales/GeneralShipperMaster.js")" type="text/javascript"></script>

<div id="ListViewModel" class="container">

</div>
<script type="text/javascript">
    $(document).ready(function () {
        //GeneralShipperMaster.Initialize();
        GeneralShipperMaster.LoadList();

    });
</script>




