@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<section id="content">
    <hgroup>
        <h1 class="text-error"></h1>
        <h2 class="text-error">An error occurred while processing your request.</h2>
    </hgroup>

    @HttpContext.Current.Session["ErrorInfoMessage"].ToString()
    <br />
    <br />
    @HttpContext.Current.Session["Source"].ToString()
    <br />
    <br />

    @HttpContext.Current.Session["TargetSite"].ToString()
    <br />
    <br />

    @HttpContext.Current.Session["StackTrace"].ToString()
    </section>