
@model IEnumerable<AERP.ViewModel.DashboardViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .mfp-content {
        width: 70%;
    }
</style>
<script src="@Url.Content("~/Scripts/AERP_Scripts/Dashboard/DashboardAllocation.js")" type="text/javascript"></script>
<div id="ListViewModel" class="container"> </div>
<script type="text/javascript">
    $(document).ready(function () {
        DashboardAllocation.LoadList();
    });
</script>