@model AERP.ViewModel.SaleContractFixAttendanceViewModel

<div id="custom-content">

    <div class="card">
        <div class="card-body card-padding">
            <div id="displayErrorMessage" role="alert" hidden class="alert">
                <button class="close" type="button"><span aria-hidden="true">x</span></button>
                <p id="messageContent"></p>
            </div>
            <div id="displayErrorMessage1"></div>
            <form id="FormCreateSaleContractMaster" role="form" class="row">
                <div class="col-sm-12">
                    <div class="col-sm-6">
                        <div class="select form-group fg-line">
                            @Html.LabelFor(model => model.SaleContractBillingSpanID, new { })
                            @Html.DropDownListFor(model => model.SaleContractBillingSpanID, Model.ListGetContractSpans, "---Select---", new { @class = "form-control input-sm",id= "GetSaleContractBillingSpanID" })
                        </div>
                        @Html.ValidationMessageFor(model => model.SaleContractBillingSpanID)
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group fg-line">
                            <button type="button" class="btn btn-primary m-t-20" id="btnShowGetFixItemData">@Resources.GlobalProperties_ShowList</button>
                        </div>
                    </div>
                </div>
                <div id="FixItemStatusForSpan">

                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        SaleContractFixAttendance.Initialize();

        $("#btnShowGetFixItemData").click(function () {

            if ($("#GetSaleContractBillingSpanID").val() == "") {
                $("#displayErrorMessage").text("Please select Span.").closest('div').fadeIn().closest('div').addClass('alert-' + "warning");
                $("#displayErrorMessage").delay(400).slideDown(400).delay(1500).slideUp(400).css('background-color', "#FFCC80");
                return false;
            }

            $.ajax({
                cache: false,
                type: "GET",
                dataType: "html",
                data: { "SaleContractBillingSpanID": $('#GetSaleContractBillingSpanID').val(), "SaleContractMasterID": $("#SaleContractMasterID").val() },
                url: '/SaleContractFixAttendance/GetFixItemData',
                success: function (data) {
                    $("#FixItemStatusForSpan").html('');
                    $("#FixItemStatusForSpan").html(data);
                }
            });
        })
        
    });
</script>
